.cookie-wahl-block {
    background: #f8fafc;
    border: 1px dashed #b2b2b2;
    padding: 1.2em 1em;
    margin: 1em 0;
}
.cookie-option {
    margin: 0.5em 0.5em 0 0;
    background: #e0e0e0;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1.2em;
    cursor: pointer;
}
